<h1>All Properties</h1>
<%= link_to 'New Property', new_property_path %>
<ul>
<% @properties.each do |property| %>
  <li> <%= property.property_name %> <%= link_to "Show", property_path(property.id) %>  </li>
<% end %>
</ul>